.footer {
    background-color: #2A254B;
    color: #fff;
}

.footer__right-column {
    display: flex;
    justify-content: space-between;
}

.footer-list {
    list-style: none;
    text-align: left;
}

.footer-list li:first-child {
    font-size: 20px;
    font-family: var(--second-family);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}